#notificationBox,
#notificationBox * {
    box-sizing: border-box;
}

#notificationBox {
    position: fixed;
    bottom: 0;
    right: 0;
    min-height: 25%;
    width: 250px;
    padding: 5px;
    font-family: Tahoma, sans-serif;
}

#notificationBox>.notification {
    border-radius: 5px;
    background-color: steelblue;
    width: 100%;
    padding: 15px;
    margin: 5px 0;
    animation: notificationSpawn 0.3s 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), 0 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

#notificationBox>.notification.error {
    background-color: crimson;
    color: white;
}

#notificationBox>.notification>.lifetimebar {
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    animation: lifetimebar 1 linear;
}

#notificationBox>.notification>.buCloseNotification {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

@keyframes notificationSpawn {
    0% {
        transform: translateX(100%) translateY(100%);
    }
    50% {
        transform: translateX(0%) translateY(100%);
    }
    100% {
        transform: none;
    }
}

@keyframes lifetimebar {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}